/* This file specifices custom commands (like functions) that can be called in the other directories */

body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'Arial';
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial';
}

h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial';
}

p {
    font-size: 1em;
    font-family:'Arial';
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: white;

}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    font-family:'Arial';
}

ul.posts li {
    list-style: none;
    font-family:'Arial';
}

/* .site-title::before {
content: url("../IMG_20181231_153408046.jpg");
display: inline-block;
position: relative;
width: 5px;
top: 10px; */

}

.holder {
      display: inline;
    }

.holder img {
      max-height: auto;
      max-width: 50%;
      float: left;
      padding-right: 20px;
    }

.rounded {
      object-fit: cover;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      margin: 0 auto;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
      float: left;
      width: 32%;
      padding: 5px;
    }

/* Clear floats after image containers */
.row::after {
      content: "";
      clear: both;
      display: table;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column4 {
      float: left;
      width: 24%;
      padding: 5px;
    }

    /* Clear floats after image containers */
    .row4::after {
      content: "";
      clear: both;
      display: table;
    }

/* .Textwrap {
  float: right;
  margin-left: 10px;
  vertical-align: top;
} */
