<!-- Note, this file overrides the yml file Jenkyll theme -->
<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/DEI">EDI</a></li>
			<li><a href="/join">Join the team</a></li>
			<li><a href="/people">People</a></li>
			<li><a href="/publications">Publications</a></li>
			<li><a href="/research">Research Projects</a></li>
			<!-- <li><a href="/blog">Blog</a></li> -->
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>
		<ul>
			<li><a href="mailto:annesofieahm@uvic.ca">email</a></li>
			<li><a href="https://anne-sofieahm.github.io">anne-sofieahm.github.io</a></li>
			<li><a href="https://scholar.google.com/citations?user=fJsyZeYAAAAJ&hl=en">Google Scholar</a></li>
			<li><a href="https://www.researchgate.net/profile/Anne_Sofie_Ahm">Researchgate</a></li>
		</ul>
	</footer>
</body>

</html>